# Gemini API Key - get free from https://aistudio.google.com/app/apikey
GOOGLE_API_KEY=AQ.Ab8RN6JliaYQevQxjp3GnHflFCYPuFHorbRgQNt

# AI Guardian Config - nonchalant paths
WATCH_PATH=./outputs
OUTPUT_LANG=both
AUTO_DELETE=true
POLL_SEC=2
USE_GEMINI=true